@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
@layer base {
  *,
  ::before,
  ::after {
    border-style: none; /* Reset the default border-style from Tailwind preflight */
  }
  
  body {
    @apply font-sans bg-gray-50 text-gray-900 antialiased;
  }

}

.mat-mdc-text-field-wrapper {
  .mdc-notched-outline {
    border-style: solid; /* Restore the correct border style for the form field outline */
  }

  .mdc-notched-outline__notch {
    border-right-style: hidden; /* hides the extra line at the notch */
  }
}

/* Custom component styles */
@layer components {
  .btn-primary {
    @apply bg-primary-500 hover:bg-primary-600 text-white font-medium py-2 px-4 rounded-lg transition-colors duration-200;
  }
  
  .btn-secondary {
    @apply bg-gray-200 hover:bg-gray-300 text-gray-800 font-medium py-2 px-4 rounded-lg transition-colors duration-200;
  }
  
  .card {
    @apply bg-white rounded-lg shadow-sm border border-gray-200 p-6;
  }
}